<%- include("header")-%>
<div class="container ">
  <h1>Welcome to the world of secrets</h1>
  <div class="links">
    <a href="/register">
      <button class="btn">Register</button>
    </a>
    <a href="/login">
      <button class="btn">Login</button>
    </a>
  </div>
</div>
<%- include("footer")-%>











