<%- include("header")-%>
<div class="new">
  <h1>add secret</h1>
  <form action="/newsecret" method="post">
    <textarea
      name="secret"
      placeholder="Enter secret here"
      cols="40"
      rows="15"
      required
    ></textarea>
    <input type="color" name="color">
    <button type="submit"  name="username" value=<%=name%>>Add</button>
  </form>
</div>
<%- include("footer")-%>
